<!DOCTYPE html>
<html>
    <body>
        <h2>{{match.current_inning.batting_team.name}} {{match.current_inning.total_runs}} - {{match.current_inning.total_wickets}} {{match.current_inning.current_over}}</h2>
        <h3>Batsmen</h3>
        <p>
            {{match.current_inning.current_ball.batsman.batting_summary}}* <br/>
            {{match.current_inning.current_ball.nonstriker.batting_summary}}
        </p>
        <h3>Bowler</h3>
        <p>
            {{match.current_inning.current_over.bowler.bowling_summary}}
        </p>
        <h3>Batting Scorecard</h3>
        {% for batsman in match.current_inning.batting_team.players.all %}
            <p>{{batsman.batting_summary}}</p>
        {% endfor %}
        <h3> Bowling Scorecard </h3>
        {% for bowler in match.current_inning.bowling_team.players.all %}
            <p>{{bowler.bowling_summary}}</p>
        {% endfor %}
        {% if not match.other_innings %}
        <h2>{{match.other_team.name}} [yet to bat]</h2>
        {% else %}
        {% for inning in match.other_innings %}
        <h2>{{inning.batting_team.name}} {{inning.total_runs}} - {{inning.total_wickets}} {{inning.current_over}}</h2>
        {% endfor %}
        {% endif %}
        {% if not match.is_finished %}
        <form method="post" action="{% url 'update_scorecard' match.id %}">
            {% csrf_token %}
            <label for="event">What happened?</label>
            <select id="event" name="event" type="select">
                <option value="w">W</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="wd">wd</option>
                <option value="nb">nb</option>
            </select>
            {% if bowling_change_required %}
                <label for="newbowler">Next bowler first name</label>
                <input type="text" id="newbowler" name="newbowler">
            {% endif %}
            {% if batting_change_required %}
                <label for="newbatsman">Next batsman first name</label>
                <input type="text" id="newbatsman" name="newbatsman">
            {% endif %}
            <input type="submit" value="UPDATE">
        </form>
        {% else %}
        <p>MATCH OVER</p>
        {% endif %}
        <p><a href="{% url 'clear_session' %}">RESET</a></p>
    </body>
</html>